@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');

html {
  font-size: 62.5%;
  font-family: Yantramanav, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-feature-settings: "palt" 1;
  letter-spacing: .05em;
}

img {
  max-width: 100%;
  height: auto;
}

.magazine__secondary {
  background: #00479d;
  color: #fff;
  position: relative;
  z-index: 2;
}

.magazine__secondary a {
  color: #fff;
}

.brand {
  position: fixed;
  top: 2em;
  left: 4rem;
  z-index: 1;
  text-decoration: none;
}

.magazine__secondary__content {
  margin: 0 auto;
  padding: 4rem 4rem 10rem;
  max-width: 48rem;
}

.magazine__secondary__content h1 {
  margin: 0 0 .5em;
  font-size: 4.6rem;
  font-weight: 300;
  line-height: 1;
}

.magazine__secondary__content h1 span {
  display: block;
}

.magazine__secondary__content h1 small {
  display: block;
  font-size: 50%;
  margin-bottom: .25em;
}

.magazine__secondary__content p {
  text-align: justify;
}

.magazine__secondary__content p,
.magazine__secondary__content ul {
  margin: 0 0 1.5em;
}

.magazine__secondary__content ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.4;
}

.magazine__secondary__content ul li:before {
  content: '-';
  margin-right: .5em;
}

.magazine__secondary__content form {
  width: 100%;
  text-align: center;
}

.magazine__secondary__content form input {
  margin: 0 auto;
  display: block;
}

.magazine__primary {
  position: relative;
  height: 60vh;
  background: #fff url(../images/01.jpg) 50% 50% / contain no-repeat;
}

.add-to-cart {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #00457C;
  color: #fff;
  padding: 2rem 0;
  z-index: 1;
}

.add-to-cart img {
  display: none;
}

.button {
  display: inline-block;
  background: #00479d;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 1.5em;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) and (orientation: landscape) {

  .magazine__primary,
  .magazine__secondary {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }

  .magazine__primary {
    background: #fff url(../images/01.jpg) 50% 50% / 125% no-repeat;
  }

  .magazine__secondary {
    left: 50%;
    display: flex;
    align-items: center;
  }

  .magazine__secondary__content {
    padding: 4rem;
  }

  .add-to-cart {
    padding: 3rem 0;
    left: 50%;
    width: 50%;
  }
}